:root{
    --bg: #ffffff;
    --text-color: #848688;
    --cor-btn: #239bd3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1vw 5vw;
}

.logo img{
    width: 3vw;
}

.user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vw;
}

#user-icon{
    width: 1.5vw;
    height: auto;
}

#doc-icon{
    width: 1.5vw;
    height: auto;
}

#exit-btn{
    background-color: var(--cor-btn);
    width: 4vw;
    color: var(--bg);
    padding: 0.3vw;
    border: none;
    cursor: pointer;
    
}

.home-secction{
    display: flex;
    justify-content: space-between;
    padding: 2vw 10vw;
    align-items: center;
}

.saudacao{
    color: var(--cor-btn);
}

.add-btn img{
    width: 3vw;
    cursor: pointer;
}

.separador{
    margin: 0 auto;
    width: 90%;
}

.title2{
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    color: var(--cor-btn);
}


.orcamentos {
    margin: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tabela-orcamentos {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

.tabela-orcamentos th,
.tabela-orcamentos td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tabela-orcamentos th {
    background-color: var(--cor-btn);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.tabela-orcamentos tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabela-orcamentos tr:hover {
    cursor: pointer;
}
